.button-control {
  display: flex;
  align-items: center;
  margin-bottom: 5.6rem;
  padding: 0.2rem;
  min-height: 4rem;
  width: 100%;
  font-size: 1.2rem;
  background: var(--c-steel);
  border: 1px solid var(--c-border-alt);
  border-radius: var(--border-radius-lrg);

  @media (--large) {
    width: auto;
  }
}

.button-control__option {
  padding: 1rem 1.6rem;
  width: 50%;
  color: var(--c-lavender);
  transition: all 0.2s ease-in;

  @media (--large) {
    width: auto;
  }
}

.button-control--on {
  background: var(--c-white);
  border-radius: var(--border-radius-lrg);
  color: var(--c-midnight);
}

.button-control--off {
  &:hover {
    color: var(--c-text);
  }
}


