.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: 8rem;
  border-bottom: 1px solid var(--c-border-alt);

  @media (--large) {
    margin-bottom: 5rem;
  }
}
