:root {
  /* Colors */
  --c-transparent: #ffffff00;
  --c-white: #ffffff;
  --c-midnight: #0c0a1d;
  --c-smokey: #6f6d8a;
  --c-lavender: #8682b1;
  --c-clay: #36344b;
  --c-steel: #1f1d2f;
  --c-royal-purple: #6f4cff;
  --c-funky: linear-gradient(90deg, #ff00a8 0%, #00e0ff 100%);
  --c-royal: linear-gradient(180deg, var(--c-royal-purple) 0%, #432e99 100%);
  --c-royal-alt: linear-gradient(180deg, #7e5ffd 0%, #5b45b3 100%);
  --c-royal-light: linear-gradient(
    180deg,
    #553eb5 0%,
    var(--c-royal-purple) 100%
  );

  /* Color abstractions */
  --c-bg: var(--c-midnight);
  --c-text: var(--c-white);
  --c-btn: var(--c-royal);
  --c-btn-hvr: var(--c-royal-alt);
  --c-btn-act: var(--c-royal-light);
  --c-focus: var(--c-white);
  --c-border: var(--c-smokey);
  --c-border-alt: var(--c-clay);
  --c-btn-icon: var(--c-smokey);
  --c-btn-icon-hvr: var(--c-clay);

  /* Misc. */
  --border-radius: 0.6rem;
  --border-radius-lrg: 5rem;

  /* Margins/paddings (Vertical Rhythm)
   * NOTE: Here is where I would work with design to establish
   * spacing variables
   */
}
